<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.et.mapper.UserMapper">
	<sql id="selectColum">
		id,u_name,psw
	</sql>
	<select id="selectAllUser" resultType="Map">
		select
			<include refid="selectColum"></include>
		 from user_2;
	</select>
</mapper>